<link rel="stylesheet" type="text/css" href="/css/style.css" />

<h1>Facebook Login</h1>
<form method="post">
  <p>Username<br>
  <input type="text" name="username"></p>
  <p>Password<br>
  <input type="password" name="password"></p>
  <p><input type="submit"></p>
</form>

<hr>
<hr>
For New Users
<hr>
<hr>

<form action="/NewUser" method="post">
  <p>New Username<br>
  <input type="text" name="username"></p>
  <p>New Password<br>
  <input type="password" name="password"></p>
    <input type="submit" value="Create Account" 
         name="Submit" id="frm1_submit" />
</form>